pycache/
*.py[cod]
*$py.class
*.so
*.egg-info/
dist/
build/
.eggs/
venv/
ENV/
env/
.venv/
.idea/
.vscode/
.ipynb_checkpoints/
*.log
.env
.env.
*.whl
*.tar.gz
.DS_Store
Thumbs.db
desktop.ini
.cache/
pip-wheel-metadata/
.mypy_cache/
.pyre/
.pytype/
.coverage
htmlcov/
*.manifest
*.spec
